/node_modules
/public/js
/public/css
/public/hot
/public/storage
/storage/*.key
/credentials
/documentation
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*lock
*lock.json
